@import url(./assets/fonts/Fonts.css);

:root {
    --font_color: #191919;
    --bg_color: #fafafa;
    --border_color: #333333;
    --border_width: 1px;
    --footer_color: #333333;
}

[data-theme="dark"] {
    --font_color: #E0E0E0;
    --bg_color: #121212;
    --border_color: #CCCCCC;
    --border_width: 1px;
    --footer_color: #222222;
  }

html, body {
    height: 100%;
    background-color: var(--bg_color);
    margin: 0;
    padding: 0;
    color: var(--font_color);
    font-family: 'Lora-Regular';
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sectionSeparator {
    margin-bottom: 56px;
}